<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2014-10-08-firstly-build-a-blog.markdown</string>
		</array>
		<array>
			<string>2016-04-01-编程之美笔记-1.md</string>
		</array>
		<array>
			<string>2014-10-09-lua学习笔记.markdown</string>
		</array>
		<array>
			<string>2014-10-09-skynet-simpleweb笔记.markdown</string>
		</array>
		<array>
			<string>2014-10-19-jekyll使用中的问题.markdown</string>
		</array>
		<array>
			<string>2014-10-08-首先建立个人博客.markdown</string>
		</array>
		<array>
			<string>2016-06-09-SRT项目：飞机票数据挖掘与建模.md</string>
		</array>
		<array>
			<string>2016-06-09-飞机票数据挖掘与建模.md</string>
		</array>
		<array>
			<string>2016-07-06-伪造微博的行为学实验.md</string>
		</array>
		<array>
			<string>2016-07-07-实习公司的手游.md</string>
		</array>
	</array>
</dict>
</plist>
